<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1,0">

  <meta name=”author” content="Benjamin Mondragon Argueta" />
  <meta name="description" content="Es un sitio de cursos de tecnologia para niños" />

  <script src="https://kit.fontawesome.com/99cd4bbfb0.js" crossorigin="anonymous"></script>
  <title> System crow </title>
</head>
<body background="fondo.png">
    <style>
      
        footer {
            position: fixed;
            height: 200px;
            bottom: 0;
            width: 100%;
        }
    </style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1c1c1c;">
  
    <!--Navbar content-->
    <a class="nav--brand" href="#" > <FONT FACE="candara" size=6 COLOR="white">   
      <img src="file:///C:\Users\admin\Integradora\views\usuario\logo.png" width="70" height="70" class="d-inline-block align-center" alt="" loading="lazy">   System crow </FONT>
        </a> </FONT></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarText" aria-controls="navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collaspe navbar-collapse" id="navbarTex">
      <ul class="navbar-nav mr-auto">
        <li class="nav item active">
          <a href="#" class="nav-link"><span class="sr-only"></span></a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/admin/Integradora/views/usuario/fusuario.html">
            <FONT FACE="candara" size=4 COLOR="white">Usuario </FONT></a>
        </li> 

        <li class="nav-item">
          <a href="file:///C:/Users/admin/Integradora/views/cursos_usuario/fcursos_usuario.html" 
          class="nav-link"><FONT FACE="candara" size=4 COLOR="white">C. Usuario</FONT></a>
        </li>

        
      
        
        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/admin/Integradora/views/contenido_visual/fcontenido_visual.html"> 
            <FONT FACE="candara" size=4 COLOR="white">Cont. Visual</FONT></a>
        </li>
        
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"
            href="file:///C:/Users/admin/Integradora/views/contenido_informatico/fcontenido_informatico.html"
            role="button" aria-haspopup="true" aria-expanded="false"><FONT FACE="candara" size=4 COLOR="white">Cont. Informatico</FONT></a>
          <div class="dropdown-menu">
            <a class="dropdown-item"
              href="file:///C:/Users/admin/Integradora/views/contenido_informatico/tcotenido_informatico.html">Ver Cntenidos Informaticos </a>
          </div>
        </li> 
        
        

        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/admin/Integradora/views/comentarios/fcomentarios.html"> 
            <FONT FACE="candara" size=4 COLOR="white">Comentarios</FONT> </a>
        </li>
         

        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/admin/Integradora/views/cursos/fcursos.html">
             <FONT FACE="candara" size=4 COLOR="white">Cursos</FONT> </a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control" type="search" aria-label="Search">
        <button class="btn btn-outlone-seccess my-2 mysm-o" type="sybmit"><FONT FACE="candara"  COLOR="white">Buscar</FONT></button>
      </form>
    </div>
 </nav>
        <form action="ejemplo.php" method="get">
  <h1 class="text-center"> <FONT FACE="candara"COLOR="white"> Contenido Informatico </FONT> </h1>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <font face="helvetica"COLOR="white"> <i class="fas fa-book-open"></i>
          Id_Lectura:  <input type="number" class="form-control" name="ID_LECTURA" min="0"></font>
      </div>
      <div class="col-md">
        <font face="helvetica"COLOR="white"><i class="fas fa-file-signature"></i>
          Titulo: <input type="text" class="form-control" name="TITULO" size="40"></font>
      </div></div></div>

      <div class="container">
        <div class="row">
      <div class="col-md">
        <font face="helvetica"COLOR="white"><i class="fas fa-list-ol"></i>
          No_Paginas: <input type="number" class="form-control" name="edad" min="0"></font>
      </div>
          <div class="col-md">
            <font face="helvetica"COLOR="white"><i class="fas fa-book"></i>
               Id_Curso:  <input type="number" class="form-control" name="ID_CURSO" min="1" max="4"></font>
     </div></div></div>

     <hr> 

     <p class="text-center">
        <input type="submit" class="btn btn-secondary" value="Subir">
        <input type="reset" class="btn btn-secondary" value="Borrar">
      </p>
    </form>

    <!-- Footer -->
<footer class="page-footer font-small dark pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">

        <!-- Content -->
        <h5 class="text-uppercase"><FONT FACE="candara"  COLOR="white">System Crow</FONT></h5>
        <FONT FACE="candara" COLOR="white" TEXT-ALIGN:justify;
        > Nos encargamos de desarrollar paginas web intuitivas para nuestros
           clientes, para que nuestros clientes queden satisfechos con nuestro trabajo y tengan una mejor experiencia 
          de esta manera tendran un mayor acercamiento y productividad con la tecnologia </FONT>

    </div>


    <hr class="clearfix w-100 d-md-none pb-3 ">

    <!-- Grid column -->
    <div class="col-md">

        <!-- Links -->
        <h5 class="text-uppercase">
            <FONT FACE="candara" COLOR="white">Desarrolladores</FONT>
        </h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!"><FONT FACE="candara"  COLOR="white">Mondragon Argueta Benjamin </FONT></a>
          </li>
          <li>
            <a href="#!"><FONT FACE="candara"  COLOR="white">Zarco Alva Adrich</FONT></a>
          </li>
          <li>
            <a href="#!"><FONT FACE="candara"  COLOR="white">Escobar Basilio Jesrael</FONT></a>
          </li>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase"><FONT FACE="candara"  COLOR="white">Telefonos</FONT></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"><FONT FACE="helvetica"  COLOR="white">5548384292</FONT></a>
          </li>
          <li>
            <a href="#!"><FONT FACE="helvetica"  COLOR="white">725849322</FONT></a>
          </li>
          <li>
            <a href="#!"><FONT FACE="helvetica"  COLOR="white">725844322</FONT></a>
          </li>
              </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark"><FONT FACE="candara" COLOR="white">© 2020 APLICACIONES WEB:</FONT>
    <a href="https://mdbootstrap.com/"><FONT FACE="candara"  COLOR="white"> System Crow.com</FONT></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body >

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</html>