<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1,0">

  <meta name=”author” content="Benjamin Mondragon Argueta" />
  <meta name="description" content="Es un sitio de cursos de tecnologia para niños" />
  <title> System crow </title>
</head>
<body>
    <style>
        body {
            background-color: #c3c3c3;
        }
    </style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1c1c1c;">
  
    <!--Navbar content-->
    <a class="nav--brand" href="#" > <FONT FACE="candara" size=6 COLOR="white">   System crow </FONT></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarText" aria-controls="navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collaspe navbar-collapse" id="navbarTex">
      <ul class="navbar-nav mr-auto">
        <li class="nav item active">
          <a href="#" class="nav-link"><span class="sr-only"></span></a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/admin/Integradora/views/Usuario/usuario.html">
            <FONT FACE="candara" size=4 COLOR="white">Usuarios </FONT></a>
        </li> 

      
        <li class="nav-item">
          <a href="file:///C:/Users/admin/Integradora/views/C%20Usuario/c_usuario.html" 
          class="nav-link"><FONT FACE="candara" size=4 COLOR="white">C. Usuario</FONT></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/admin/Integradora/views/C%20Visual/c_visual.html"> 
            <FONT FACE="candara" size=4 COLOR="white">C. Visual</FONT></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/admin/Integradora/views/C%20Informatico/c_informatico.html"> 
            <FONT FACE="candara" size=4 COLOR="white">C. Informatico</FONT> </a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"
            href="file:///C:/Users/admin/Integradora/views/Comentarios/comentarios.html"
            role="button" aria-haspopup="true" aria-expanded="false"><FONT FACE="candara" size=4 COLOR="white">Comentarios</FONT></a>
          <div class="dropdown-menu">
            <a class="dropdown-item"
              href="file:///C:/Users/admin/Aplicaciones-Web/views/usuario/tablaUsuario.html">Ver Comentarios </a>
          </div>
        </li>   

        <li class="nav-item">
          <a class="nav-link" href="file:///C:/Users/admin/Integradora/views/Cursos/cursos.html">
             <FONT FACE="candara" size=4 COLOR="white">Cursos</FONT> </a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control" type="search" aria-label="Search">
        <button class="btn btn-outlone-seccess my-2 mysm-o" type="sybmit"><FONT FACE="candara"  COLOR="white">Buscar</FONT></button>
      </form>
    </div>
 </nav>

    
    <form>
  <h1 class="text-center"> <FONT FACE="candara">Comentarios </FONT> </h1>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <font face="helvetica"> Id_Comentario:  <input type="number" class="form-control" name="ID_COMEMENTARIO" min="0"></font>
      </div>
      <div class="col-md">
        <font face="helvetica"> Id_Usuario: <input type="number" class="form-control" name="ID_uSUARIO" min="0"></font>
      </div>

      <div class="col-md">
        <font face="helvetica">Contenido:  <input type="text" class="form-control" name="CONTENIDO" size="80" ></font>
     </div></div></div>

     <hr> 

     <p class="text-center">
        <input type="submit" class="btn btn-secondary" value="Subir">
        <input type="reset" class="btn btn-secondary" value="Borrar">
      </p>
    </form>
</body >

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</html>