<!DOCTYPE html>
<html lang="en">
  
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1,0">

  <meta name=”author” content="Benjamin Mondragon Argueta" />

  <meta name="description" content="Es un sitio de cursos de tecnologia para niños" />

  <title> System crow </title>
</head>

<body >
    <style>
        body {
            background-color: #c3c3c3;
        }
    </style>
    
      <form>
  <h1 class="text-center"> <FONT FACE="candara">  Cursos </FONT> </h1>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <font face="helvetica">Id_Curso:  <input type="number" class="form-control" name="ID_CURSO" min="0"></font>
      </div>
      
      <div class="col-md">
        <font face="helvetica"> Nombre:  <input type="text" class="form-control" name="NOMBRE" size="30" ></font>
     </div>

     <div class="col-md">
        <font face="helvetica"> Descripcion:  <input type="text" class="form-control" name="DESCRIPCION" size="80" ></font>
    </div></div></div>

    <hr> 

     <p class="text-center">
        <input type="submit" class="btn btn-secondary" value="Subir">
        <input type="reset" class="btn btn-secondary" value="Borrar">
      </p>
    </form>
</body >
</html>